
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --subtitle: #343a40;

}

.container {
    max-width: 800px;
    margin: auto;
    background: #004947;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #2b3035;
}
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    color: #2b3035;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}
