@import "/css/global.css";
@import "/css/decks.css";
@import "/css/add-decks.css";
@import "/css/cards.css";


.main-container {
    max-width: 800px;
    min-height: 600px;
    height: 88vh;
    width: 100%;
    background: #f1f1f1;
    margin: auto;
}

.nav-link {
    cursor: pointer;
}

