<link rel="stylesheet" href="../css/add-decks.css">
<main>
    <div class="add-decks__main">
        <h3 class="subtitle">Add new deck:</h3>
        <form id="add-deck-form" action="">
            <div class="my-3 add-decks__first-input-wrapper " >
                <label for="add-deck-title" class="form-label">Title</label>
                <input id="add-deck-title" class="form-control" type="text" placeholder="Enter title" aria-label="default input example">
                <label for="add-deck-textarea" class="form-label second-textarea">New words</label>
                <textarea class="form-control" id="add-deck-textarea" rows="5" aria-describedby="add-button"
                          placeholder="Add your own words, for example:
                            dog - собака
                            door - двері
                            tv - телевізор
                            table - стіл" ></textarea>
                <button class="btn btn-outline-secondary add-decks__button" type="button" id="add-button">Add deck</button>
            </div>
        </form>
    </div>
</main>