
<main id="main__cards" class="cards__main">

    <div class="card cards__card">
        <div class="card-body">
            <div class="cards__first-half">
                <div class="cards__counting-field">
                    <span class="icons-container"><i class="fa-solid fa-xmark small-icon"
                                                     style="color: #dc3545;"></i></span>
                    <span class="cards__unguessed-words">0</span>
                    <span><i class="fa-solid fa-check small-icon" style="color: #198754;"></i></span>
                    <span class="cards__guessed-words">0</span>
                </div>
                <div class="cards__first-word"><p><strong></strong></p></div>
            </div>
            <div class="cards__second-half">
                <div class="cards__second-word"><p><strong>Translate</strong></p></div>
                <button class="btn btn-danger cards__button-unguessed"><i class="fa-solid fa-xmark big-icon"
                                                                   style="color: #ffffff;"></i></button>
                <button class="btn btn-success cards__button-guessed"><i class="fa-solid fa-check big-icon"
                                                                     style="color: #ffffff;"></i></button>
            </div>
        </div>
    </div>
</main>
